<div class="app-component">
  <div class="main-table">
    <div class="top-row"> 
      <div class="name-label"> 
        Building Name
      </div>
      <div class="people-label">
        Number of People
        <app-help class="help-icon"></app-help>
      </div>
    </div>
    <div class="row" *ngFor="let obj of getPeopleCount() | async">
      <div class="building-name">
        {{getBuildingName(obj)}}
      </div>
      <div class="people-count">
        {{getNumPeople(obj)}}
      </div>
    </div>
  </div>
</div>
